<section class='workouts_list'>

  <% if @workouts.any? %>
    <h3>Workouts</h3>
    <%= render @workouts %>
  <% else %>
    <h3>No workouts yet - shape up!</h3>
  <% end %>

</section>

<aside class='targets_list'>
  <%= render 'targets/targets' %>
</aside>