<section class='affix'>

  <h3>
    <i class="fa fa-calculator"></i>
    Training Pace
  </h3>

  <article class="panel panel-default">
    
    <div class='panel-body'>
      
      <% if @runs.any? %>
        <table>
          <%= render @training_paces %>
        </table>
      <% else %>
        <p>Please log at least one workout to benchmark your training paces</p>
      <% end %>

    </div>

  </article>

</section>

<section class='training_pace_info'>

  <h3>
    <i class="fa fa-info"></i>
  </h3>

  <article class="panel panel-default">

    <div class='panel-body'>
      <% if @training_paces %>
        <% @training_paces.each do |pace| %>
          <%= render partial: 'training_paces/description', locals: {training_pace: pace} %>
        <% end %>
      <% end %>
    </div>

  </article>

</section>