<h3>
  <i class="fa fa-calculator"></i>
  Training Pace
</h3>

<section class="panel panel-default">
  <div class='panel-body'>
    <table>
      <tr>
        <td>Easy</td>
        <td>5</td>
      </tr>
      <tr>
        <td>Tempo</td>
        <td>4</td>
      </tr>
      <tr>
        <td>VO2 Max</td>
        <td>3</td>
      </tr>
      <tr>
        <td>Speed Form</td>
        <td>3</td>
      </tr>
      <tr>
        <td>Long Run</td>
        <td>5</td>
      </tr>
    </table>
  </div>
</section>