<section class='workouts_list'>

  <% if @runs.any? %>
    <h3>
      <span class="glyphicon glyphicon-signal"></span>
      Runs
    </h3>
    <%= render @runs %>
  <% else %>
    <h3>No workouts yet - shape up!</h3>
  <% end %>

</section>

<aside class='targets_list affix'>

  <%= render 'run_targets/targets' %>

</aside>