<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <section class="container">
   
    <header class="navbar-header">
      
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      <a class="navbar-brand" href="/">
        <span class="glyphicon glyphicon-road"></span>
        iMapMyLife
      </a>

    </header>

    <aside class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to new_workout_path do %>
            <span class="glyphicon glyphicon-plus"></span>
            New Workout
          <% end %>
        </li>
        <li>
          <%= link_to  workouts_load_from_mmf_path, id: 'load_mmf_data' do %>
            <span class="glyphicon glyphicon-cloud-download"></span>
            Load from MMF
          <% end %>
        </li>
        <li>
          <%= link_to new_target_path do %>
            <span class="glyphicon glyphicon-screenshot"></span>
            Add Target
          <% end %>
        </li>
      </ul>
    </aside><!--/.navbar-collapse -->

  </section>
</nav>

